#searchbar {
  border-radius: 4px;
  background-color: #9fe1ce;
  border: 3px solid $violet;
}
#searchBtn {
  border-radius: 4px;
  font-family: $stonewall-inn-font-family;
}
@keyframes colorCycle {
  0% {
    border-color: $red;
    color: $red;
  }
  20% {
    border-color: $orange;
    color: $orange;
  }
  40% {
    border-color: $yellow;
    color: $yellow;
  }
  60% {
    border-color: $green;
    color: $green;
  }
  80% {
    border-color: $blue;
    color: $blue;
  }
  100% {
    border-color: $violet;
    color: $violet;
  }
}
.playground {
  border-radius: 4px;
  padding: 1.5em;
  .wrapper {
    height: 500px;
  }
}
.playground-btn {
  background-color: transparent;
  border: 3px solid;
  animation: colorCycle 5s infinite;
}
